<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>9:30</td>  <td>Analyzing Patient Data</td> </tr>
      <tr> <td>10:15</td>  <td>Reading and Writing CSV Files</td> </tr>
      <tr> <td>10:35</td>  <td>Break</td> </tr>
      <tr> <td>10:45</td>  <td>Data Types and Structures</td> </tr>
      <tr> <td>11:30</td>  <td>Addressing Data</td> </tr>
      <tr> <td>11:50</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>9:30</td>  <td>Creating Functions</td> </tr>
      <tr> <td>10:15</td>  <td>Analyzing Multiple Data Sets</td> </tr>
      <tr> <td>10:45</td>  <td>Break</td> </tr>
      <tr> <td>11:00</td>  <td>Loops in R</td> </tr>
      <tr> <td>11:50</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>9:30</td>  <td>Making Choices</td> </tr>
      <tr> <td>10:00</td>  <td>Best Practices for Writing R Code</td> </tr>
      <tr> <td>10:10</td>  <td>Command Line Programming</td> </tr>
      <tr> <td>10:45</td>  <td>Break</td> </tr>
      <tr> <td>11:00</td>  <td>Understanding Factors</td> </tr>
      <tr> <td>11:30</td>  <td>Dynamic Reports with knitr</td> </tr>
      <tr> <td>11:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>11:50</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
